<!doctype html>

<html lang="en">


    <head>
        <meta charset="UTF-8">
        <title>TechScouts Locator</title>

        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.13/angular.min.js"></script>
        <script src="/module.js"></script>
        <script type="text/javascript"
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDI7vYZxBhO08PBr3Yd0Zk4gR6hiop6L68">
        </script>
        <script src= "http://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="/pin.js"></script>
        <script src="/map.js"></script>
        <script src= "/ion.rangeSlider.min.js"></script>

        <link rel="stylesheet" type="text/css" href="/main.css">
        <link rel="stylesheet" type="text/css" href="/ion.rangeSlider.css">
        <link rel="stylesheet" type="text/css" href="/ion.rangeSlider.skinFlat.css">
        <link rel="stylesheet" type="text/css" href="/normalize.min.css">

        <link rel="stylesheet" type="text/css" href="/main.css">

    </head>

    <!-- Set the module which allows ng-repeat with a range -->
    <body ng-app="rangeModule" ng-controller="dateCtrl">


        <br><br>

        <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

        <div id="map-canvas"></div>
        <br><br>


                <div> Selected Day: {{selectedDay}} vis count: {{visibleCount}} total count: {{totalCount}}</div>



        <div style = "width:80%; margin:auto">

        <input id="startDate" type="date" name="input" ng-model="value"
                placeholder="yyyy-MMM" min="2014-01" max="2020-12" required ng-change="selectedDay = 1; hiddenVal = hiddenVal + 1; setPin()"/>

                <!-- Add error handling -->
                <span class="error" ng-show="myForm.input.$error.required">
                Required!</span>

                <span class="error" ng-show="myForm.input.$error.month">
                Not a valid month!</span>

                  &nbsp;to&nbsp;

        <input id="endDate" type="date" name="input" ng-model="value"
                placeholder="yyyy-MMM" min="2014-01" max="2020-12" required ng-change="selectedDay = 1; hiddenVal = hiddenVal + 1; setPin()"/>

                <!-- Add error handling -->
                <span class="error" ng-show="myForm.input.$error.required">
                Required!</span>

                <span class="error" ng-show="myForm.input.$error.month">
                Not a valid month!</span>

        <input type="submit" value="GO!" id = "gobutton"/>

        </div>
        <br> 
        <input type="text" id="slider" name="example_name" from ="50"/>



        </div>

    </body>

</html>