
<!-- https://docs.angularjs.org/api -->
<!-- https://docs.angularjs.org/api -->
<!-- https://docs.angularjs.org/api -->

<!DOCTYPE html>
<html data-ng-app>

    <head>
        <title>
        </title>
    </head>

    <body>

    <!-- AUTO UPDATING NAMES -->
        <h3> Auto-updating name> </h3>
        name: <br> <input type="text" data-ng-model="name"> {{ name }}

    <!-- LOOPING THOUGH A LIST -->
        <div class="container"
            data-ng-init="stuff = ['cat', 'dog', 'orange', 'apple']">

            <h3>Looping withthe ng-repeat Directive</h3>

            <ul>
                <li data-ng-repeat="thing in stuff"> {{ thing }} </li>
            </ul>
        </div>

    <!-- Filtering -->
    <!-- See API section on filters -->
        <h3> Filtering lists based on user input </h3>
        <div class="container"
            data-ng-init="people = [{name: 'John Smith', city: 'Phoenix'},
                                    {name: 'John Adams', city: 'Seattle'},
                                    {name: 'John Jameson', city: 'San Francisco'},
                                    {name: 'John Johneson', city: 'Boston'},
                                    {name: 'Jane Smith', city: 'Phoenix'},
                                    {name: 'Jane Brown', city: 'New York'},
                                    {name: 'Jane Doe', city: 'Sacremento'}]" >
            <input type="text" data-ng-model="human"> {{human}}
            <br>
            <ul>
                <li data-ng-repeat="person in people | filter:human | orderBy:'name'">{{person.name}} - {{person.city}}</li>
            </ul>
        </div>


    <!-- CREATING A VIEW AND A CONTROLLER -->
        <!-- Create the controller in a script -->
        <script>
            function SimpleController($scope) {
                $scope.customers = [
                    {name: 'Dave Jones', city: 'Phoenix'},
                    {name: 'Jamie Riley', city: 'Atlanta' },
                    {name: 'Heedy Wahlin', city: 'Chandler'},
                    {name: 'Thomas Winter', city: 'Seattle'}
                ];
            }
        </script>

        <!-- Create the view to which we pass the controller. View now has same scope -->
        <div class="container" data-ng-controller="SimpleController"> 
            <h3>Doing the same thing with Model/View</h3>
            <ul>
                <li data-ng-repeat="cust in customers">
                {{cust.name}} - {{cust.city}}
                </li>
            </ul>
        </div>


        <!-- Add angularJS -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.min.js"> 
        </script>

    </body>
</html