<!doctype html>

<html lang="en">


    <head>
        <meta charset="UTF-8">
        <title>Example - example-month-input-directive-production</title>

        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.13/angular.min.js"></script>
        <script src="/js"></script>

    </head>

    <body ng-app="myReverseModule">

        <script>
        function Ctrl($scope) {
        $scope.value = new Date(2013, 9, 1);
        }
        </script>

        <div class="contianer"
            data-ng-init="months = [{month: 'Jan', day: 31},
                                    {month: 'Feb', day: 28},
                                    {month: 'Mar', day: 31},
                                    {month: 'Apr', day: 30},
                                    {month: 'May', day: 31},
                                    {month: 'Jun', day: 30},
                                    {month: 'Jul', day: 31},
                                    {month: 'Aug', day: 31},
                                    {month: 'Sep', day: 30},
                                    {month: 'Oct', day: 31},
                                    {month: 'Nov', day: 30},
                                    {month: 'Dec', day: 31}
        ]; selectedDay=1; hiddenDay = 0;" >


            <form name="myForm" ng-controller="Ctrl as dateCtrl">

                Pick a month in 2013 or 2014:

                <input id="exampleInput" type="month" name="input" ng-model="value"
                placeholder="yyyy-MMM" min="2013-01" max="2014-12" required ng-change="selectedDay = 1; hiddenDay = hiddenDay + 1"/>

                <span class="error" ng-show="myForm.input.$error.required">
                Required!</span>

                <span class="error" ng-show="myForm.input.$error.month">
                Not a valid month!</span>


                <br>
                <br>

                <label for="fader">1 </label>

                <input type="range" min="1" max="{{months[value.getMonth()].day || 5}}" value="1" id="fader" step="1" style="width:{{25 * months[value.getMonth()].day}}px"
                        list="day" ng-model="selectedDay">
                <datalist id="day">
                        <option ng-repeat="n in [] | range:32">{{n}}</option>
                </datalist>

                <output for="fader" id="volume"> {{months[value.getMonth()].day}}</output>
                <br>
                <br>
                <output for="fader" id="volume"> Selected Day: {{selectedDay}}</output>
                <output style="font-size: 0%" for="fader" id="volume"> {{hiddenDay}}</output>

            </form>
        </div>

    </body>

</html>